{% extends 'base.html.twig' %}

{% block title %}Création du compte{% endblock %}

{% block body %}

    <div class="container">
        <h1>Création du compte</h1>
    <div class="row">
        <div class="col">
            {{ form_start(registrationForm) }}
            {{ form_end(registrationForm) }}
        </div>
    </div>
    </div>
{% endblock %}
