{% extends 'base.html.twig' %}

{% block title %}Favoris{% endblock %}

{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Action sur vos favoris</h1>
                <p class="lead text-muted">{{ response }}</p>
                <p>
                    <a href="/etablissements" class="btn btn-primary my-2">Retourner sur la liste des etablissements</a>

                </p>
            </div>
        </div>
    </section>
{% endblock %}
